---
title: Home
layout: home
---

<article>
  <h1>
      What is it?
  </h1>

  <p>Event Better Specs is an <i>opinionated</i> set of best practices to support the creation of tests that are easy to read and maintain.</p>

  <p>It focus on the <a href="https://www.ruby-lang.org/en/" target="_blank">Ruby</a> testing framework <a href="https://rspec.info/" target="_blank">RSpec</a>, but some of it could potentially be applied to other frameworks and languages (like <a href="https://github.com/sus-rb/sus" target="_blank">sus</a> and <a href="https://crystal-lang.org/reference/1.13/guides/testing.html" target="_blank">Crystal</a>).</p>

  <h2>
      Guiding principles
  </h2>

  <ul>
    <li>
      tests must be <a href="https://thoughtbot.com/blog/the-self-contained-test" target="_blank">self-contained</a>, not DRY
    </li>
    <li>
      tests should follow the <a href="https://automationpanda.com/2020/07/07/arrange-act-assert-a-pattern-for-writing-good-tests/" target="_blank">Arrange-Act-Assert</a> pattern
    </li>
  </ul>
</article>

{% include describe.html %}
{% include use_contexts.html %}
{% include factories_not_fixtures.html %}
{% include leverage_described_class.html %}
{% include short_description.html %}
{% include group_expectations.html %}
{% include all_possible_cases.html %}
{% include request_vs_controller.html %}
{% include expect_vs_should.html %}
{% include redundant_require.html %}
{% include instance_double_over_double.html %}
{% include lets_not.html %}
{% include avoid_hooks.html %}
{% include dont_use_shared_examples.html %}
{% include mock_external_dependencies.html %}
{% include stub_http_requests.html %}
{% include create_only_the_data_you_need.html %}
