<article>
  <h2 id="all-possible-cases">
    <a href="#all-possible-cases">
      All possible cases
    </a>
  </h2>

  <p>Testing is a good practice, but if you do not test the edge cases, it will not be useful. Test valid, edge and invalid cases.</p>

  <p class="note alert">If you have way too many cases to test, it might be an indication your subject class is doing too much and must be break down into other classes.</p>

  <div class="example">
{% highlight ruby %}
before_action :authenticate_user!
before_action :find_product

def destroy
  @product.destroy
  redirect_to products_path
end
{% endhighlight %}
  </div>

  <div class="bad">
{% highlight ruby %}
describe 'DELETE /:id' do
  context 'when the product exists' do
    it 'deletes the product' do
    end
  end
end
{% endhighlight %}
  </div>

  <div class="good">
{% highlight ruby %}
describe 'DELETE /:id' do
  context 'when the product exists' do
    it 'deletes the product' do
    end
  end

  context 'when the product does not exist' do
    it 'raises 404' do
    end
  end

  context 'when user is not authenticated' do
    it 'raises 404' do
    end
  end
end
{% endhighlight %}
  </div>
</article>
