<article>
  <h2 id="avoid-hooks">
    <a href="#avoid-hooks">
      Avoid hooks
    </a>
  </h2>

  <p>Avoid hooks since they usually cause your tests to become more complex in the long run.</p>

  <div class="bad">
{% highlight ruby %}
describe '#index' do
  context 'when user is authenticated' do
    before do
      @user = create(:user)
      sign_in @user
      get profile_path
    end

    context 'when user has a profile' do
      it 'returns 200' do
        create(:profile, user: @user)
        expect(response.code).to eq('200')
      end
    end

    context 'when user does not have a profile' do
      it 'returns 404' do
        expect(response.code).to eq('404')
      end
    end
  end
end
{% endhighlight %}
  </div>

  <div class="good">
{% highlight ruby %}
describe '#index' do
  context 'when user is authenticated' do
    context 'when user has a profile' do
      it 'returns 200' do
        user = create(:user)
        create(:profile, user: user)
        sign_in user

        get profile_path

        expect(response.code).to eq('200')
      end
    end

    context 'when user does not have a profile' do
      it 'returns 404' do
        user = create(:user)
        sign_in user

        get profile_path

        expect(response.code).to eq('404')
      end
    end
  end
end
{% endhighlight %}
  </div>

  <a class="discuss-link" target="_blank" href="https://github.com/evenbetterspecs/evenbetterspecs.github.io/discussions/15">Discuss this guideline</a>
</article>
