<article>
  <h2 id="create-only-the-data-you-need">
    <a href="#create-only-the-data-you-need">
      Create only the data you need
    </a>
  </h2>

  <p>Create only the data you need for each test. Having more data than necessary might make your suite slow.</p>

  <div class="bad">
{% highlight ruby %}
describe '.featured_product' do
  it 'returns the featured product' do
    create_list(:product, 5)
    product_featured = create(:product, featured: true)

    expect(described_class.featured_product).to eq(product_featured)
  end
end
{% endhighlight %}
  </div>

  <div class="good">
{% highlight ruby %}
describe '.featured_product' do
  it 'returns the featured product' do
    create(:product, featured: false)
    product_featured = create(:product, featured: true)

    expect(described_class.featured_product).to eq(product_featured)
  end
end
{% endhighlight %}
  </div>
</article>
