<article>
  <h2 id="describe">
    <a href="#describe">
      Describe what you are testing
    </a>
  </h2>

  <p>Be clear about what you are testing.</p>

  <div class="bad">
{% highlight ruby %}
describe 'User' do
  describe 'the authenticate method for User' do
  end

  describe 'if the user is an admin' do
  end
end
{% endhighlight %}
  </div>

  <p>Use the Ruby documentation convention of <code>.</code> when referring to a class method's name and <code>#</code> when referring to an instance method's name.</p>

  <div class="good">
{% highlight ruby %}
describe User do
  describe '.authenticate' do
  end

  describe '#admin?' do
  end
end
{% endhighlight %}
  </div>

  <p>In request tests, describe the methods and paths under test.</p>

  <div class="good">
{% highlight ruby %}
describe UsersController, type: :request do
  describe '#index' do
  end

  describe '#create' do
  end
end
{% endhighlight %}
  </div>
</article>
