<article>
  <h2 id="describe-what-you-are-testing">
    <a href="#describe-what-you-are-testing">
      Describe what you are testing
    </a>
  </h2>

  <p>Be clear about what you are testing.</p>

  <div class="bad">
{% highlight ruby %}
describe 'User' do
  describe 'the authenticate method for User' do
  end

  describe 'if the user is an admin' do
  end
end
{% endhighlight %}
  </div>

  <p>Use the Ruby documentation convention of <code>.</code> when referring to a class method's name and <code>#</code> when referring to an instance method's name.</p>

  <div class="good">
{% highlight ruby %}
describe User do
  describe '.authenticate' do
  end

  describe '#admin?' do
  end
end
{% endhighlight %}
  </div>

  <h3 id="describe-request-tests">
    <a href="#describe-request-tests">
      Describing request tests
    </a>
  </h3>

  <p>In request tests, describe the controller constant and its actions so one can easily spot what is being tested.</p>

  <div class="bad">
{% highlight ruby %}
describe '/users', type: :request do
  describe 'GET #index' do
    it 'returns a successful response' do
      get users_url

      expect(response.code).to eq('200')
    end
  end

  describe 'POST /users' do
    it 'creates a user' do
      post users_url, params: { user: { name: 'Tom Jobim' } }

      expect(User.last.name).to eq('Tom Jobim')
    end
  end
end
{% endhighlight %}
  </div>

  <div class="good">
{% highlight ruby %}
describe UsersController, type: :request do
  describe '#index' do
    it 'returns a successful response' do
      get users_url

      expect(response.code).to eq('200')
    end
  end

  describe '#create' do
    it 'creates a user' do
      post users_url, params: { user: { name: 'Tom Jobim' } }

      expect(User.last.name).to eq('Tom Jobim')
    end
  end
end
{% endhighlight %}
  </div>

  <h3>RuboCop</h3>

  <p>You can enforce this guideline using the cop <a href="https://docs.rubocop.org/rubocop-rspec/cops_rspec.html#rspecdescribeclass" target="_blank">RSpec/DescribeClass</a> from the <a href="https://docs.rubocop.org/rubocop-rspec/installation.html" target="_blank">rubocop-rspec</a> gem.</p>

  <a class="discuss-link" target="_blank" href="https://github.com/evenbetterspecs/evenbetterspecs.github.io/discussions/2">Discuss this guideline</a>
</article>
