<article>
  <h2 id="dont-use-shared-examples">
    <a href="#dont-use-shared-examples">
      Don't use shared examples
    </a>
  </h2>

  <p><a href="https://rspec.info/features/3-12/rspec-core/example-groups/shared-examples/" target="_blank">Shared examples</a> is a feature that allow us to not repeat code, but tests are not real code, so introducing it increases the complexity of your suite</a>.</p>

  <div class="bad">
{% highlight ruby %}
shared_examples 'a barking animal' do
  it 'barks' do
    expect(animal.able_to_bark?).to eq(true)
  end
end

describe Dog do
  let(:animal) { described_class.new(able_to_bark: true) }
  it_behaves_like 'a barking animal'
end

describe Fox do
  let(:animal) { described_class.new(able_to_bark: true) }
  it_behaves_like 'a barking animal'
end
{% endhighlight %}
  </div>

  <div class="good">
{% highlight ruby %}
describe Dog do
  describe '#able_to_bark?' do
    it 'barks' do
      subject = described_class.new(able_to_bark: true)

      expect(subject.able_to_bark?).to eq(true)
    end
  end
end

describe Fox do
  describe '#able_to_bark?' do
    it 'barks' do
      subject = described_class.new(able_to_bark: true)

      expect(subject.able_to_bark?).to eq(true)
    end
  end
end
{% endhighlight %}
  </div>

  <a class="discuss-link" target="_blank" href="https://github.com/evenbetterspecs/evenbetterspecs.github.io/discussions/16">Discuss this guideline</a>
</article>
