<article>
  <h2 id="dont-use-shared-examples">
    <a href="#dont-use-shared-examples">
      Don't use shared examples
    </a>
  </h2>

  <p><a href="https://rspec.info/features/3-12/rspec-core/example-groups/shared-examples/" target="_blank">Shared examples</a> is a feature that allow us to not repeat code, but tests are not real code, so introducing it increases the complexity of your suite</a>.</p>

  <div class="bad">
{% highlight ruby %}
shared_examples 'a normal dog' do
  it { is_expected.to be_able_to_bark }
end

describe Dog do
  subject { described_class.new(able_to_bark?: true) }
  it_behaves_like 'a normal dog'
end
{% endhighlight %}
  </div>

  <div class="good">
{% highlight ruby %}
describe Dog do
  describe '#able_to_bark?' do
    it 'barks' do
      subject = described_class.new(able_to_bark?: true)

      expect(subject.able_to_bark?).to eq(true)
    end
  end
end
{% endhighlight %}
  </div>
</article>
