<article>
  <h2 id="group-expectations">
    <a href="#group-expectations">
      Group expectations
    </a>
  </h2>

  <p>
    Having an <code>it</code> for each expectation can lead to a terrible test performance. Group expectations that
    use a similar data setup to improve performance and make the tests more readable.
  </p>

  <div class="bad">
{% highlight ruby %}
it 'returns 200' do
  user = create(:user)

  get user_path(user)

  expect(response.code).to eq('200')
end

it 'returns JSON content type' do
  user = create(:user)

  get user_path(user)

  expect(response.content_type).to eq('application/json')
end
{% endhighlight %}
  </div>

  <div class="good">
{% highlight ruby %}
it 'responds with 200 http status and a JSON content type' do
  user = create(:user)

  get user_path(user)

  expect(response.code).to eq('200')
  expect(response.content_type).to eq('application/json')
end
{% endhighlight %}
  </div>

  <p>We recommend enabling <a href="https://rspec.toolboxforweb.xyz/docs/rspec-core/expectation_framework_integration/aggregating_failures#enable-failure-aggregation-globally-using-define_derived_metadata" target="_blank">failure aggregation globally</a> to make it list all failures at once.</p>

  <a class="discuss-link" target="_blank" href="https://github.com/evenbetterspecs/evenbetterspecs.github.io/discussions/8">Discuss this guideline</a>
</article>
