<article>
  <h2 id="lets-not">
    <a href="#lets-not">
      Let's not
    </a>
  </h2>

  <p>Do not use <code>let</code> / <code>let!</code>. These tend to turn your tests very complicated over time as one needs to look up variables defined then apply deltas to figure their current state. Understand more <a href="https://thoughtbot.com/blog/lets-not" target="_blank">here</a>.</p>

  <p class="note info">Tests are not supposed to be DRY, but easy to read and maintain.</p>

  <div class="bad">
{% highlight ruby %}

describe '#full_name' do
  let(:user) { build(:user, fist_name: 'Edson', last_name: 'Pelé') }

  context 'when first name and last name are present' do
    it 'returns the full name' do
      expect(user.full_name).to eq('Edson Pelé')
    end
  end

  context 'when last name is not present' do
    it 'returns the first name' do
      user.last_name = nil
      expect(user.full_name).to eq('Edson')
    end
  end
end
{% endhighlight %}
  </div>

  <div class="good">
{% highlight ruby %}
describe '#full_name' do
  context 'when first name and last name are present' do
    it 'returns the full name' do
      user = build(:user, fist_name: 'Edson', last_name: 'Pelé')

      expect(user.full_name).to eq('Edson Pelé')
    end
  end

  context 'when last name is not present' do
    it 'returns the first name' do
      user = build(:user, fist_name: 'Edson', last_name: nil)

      expect(user.full_name).to eq('Edson')
    end
  end
end
{% endhighlight %}
  </div>
</article>
