<article>
  <h2 id="redundant-require">
    <a href="#redundant-require">
      Redundant require
    </a>
  </h2>

  <p>Remove any redundant <code>require</code> in your spec files. Use <code>.rspec</code> file instead.</p>

  <div class="bad">
{% highlight ruby %}
# spec/models/user_spec.rb
require 'rails_helper'

describe User do
end
{% endhighlight %}
  </div>

  <div class="good">
{% highlight ruby %}
# spec/models/user_spec.rb
describe User do
end
{% endhighlight %}
  </div>

  <div class="good">
{% highlight ruby %}
# .rspec
--require rails_helper
{% endhighlight %}
  </div>

  <h3>RuboCop</h3>

  <p>You can enforce this guideline with the custom cop <a href="https://gist.github.com/glaucocustodio/36e0fafb9137a482ec8cfdc794ca36a7" target="_blank">RSpec/RedundantRequireRailsHelper</a>.</p>


  <a class="discuss-link" target="_blank" href="https://github.com/evenbetterspecs/evenbetterspecs.github.io/discussions/12">Discuss this guideline</a>
</article>