<article>
  <h2 id="short-description">
    <a href="#short-description">
      Short description
    </a>
  </h2>

  <p>A spec description must not be longer than 100 characters neither span many lines. If this happens you should split it using a context.</p>

  <div class="bad">
{% highlight ruby %}
it 'returns 422 when users first_name is missing from params and when users last_name is missing from params' do
end

it 'returns 422 when users first_name is missing from params \
    and when users last_name is missing from params' do
end
{% endhighlight %}
  </div>

  <div class="good">
{% highlight ruby %}
context 'when users first_name is missing from params' do
  it 'returns 422' do
  end
end

context 'when users last_name is missing' do
  it 'returns 422' do
  end
end
{% endhighlight %}
  </div>
</article>
