<article>
  <h2 id="short-description">
    <a href="#short-description">
      Short description
    </a>
  </h2>

  <p>A spec description must not be longer than 100 characters neither span many lines. If this happens you should split it using <code>context</code>.</p>

  <div class="bad">
{% highlight ruby %}
it 'returns 422 when user first_name is missing from params and when user last_name is missing from params' do
end

it 'returns 422 when user first_name is missing from params \
    and when user last_name is missing from params' do
end
{% endhighlight %}
  </div>

  <div class="good">
{% highlight ruby %}
context 'when user first_name is missing from params' do
  it 'returns 422' do
  end
end

context 'when user last_name is missing from params' do
  it 'returns 422' do
  end
end
{% endhighlight %}
  </div>

  <a class="discuss-link" target="_blank" href="https://github.com/evenbetterspecs/evenbetterspecs.github.io/discussions/7">Discuss this guideline</a>
</article>
