<article>
  <h2 id="use-contexts">
    <a href="#use-contexts">
      Use contexts
    </a>
  </h2>

  <p>Contexts are a powerful way to make your tests clear and well organized. They should start with <code>when</code>.</p>

  <div class="bad">
{% highlight ruby %}
it 'has 200 status code if logged in' do
  expect(response.code).to eq('200')
end

describe 'it returns 401 status code if not logged in' do
  it { expect(response.code).to eq('401') }
end
{% endhighlight %}
  </div>

  <div class="good">
{% highlight ruby %}
context 'when logged in' do
  it 'returns 200 status code' do
    expect(response.code).to eq('200')
  end
end

context 'when logged out' do
  it 'returns 401 status code' do
    expect(response.code).to eq('401')
  end
end
{% endhighlight %}
  </div>

  <a class="discuss-link" target="_blank" href="https://github.com/evenbetterspecs/evenbetterspecs.github.io/discussions/3">Discuss this guideline</a>
</article>
