<article>
  <h2 id="use-context">
    <a href="#use-context">
      Use context
    </a>
  </h2>

  <p>Contexts are a powerful way to make your tests clear and well organized (they keep tests easy to read). They should start with <code>when</code>.</p>

  <div class="bad">
{% highlight ruby %}
it 'has 200 status code if logged in' do
  expect(response).to respond_with 200
end

describe 'it returns 401 status code if not logged in' do
  expect(response).to respond_with 401
end
{% endhighlight %}
  </div>

  <div class="good">
{% highlight ruby %}
context 'when logged in' do
  it { is_expected.to respond_with 200 }
end

context 'when logged out' do
  it 'returns 401 status code' do
    expect(response).to respond_with 401
  end
end
{% endhighlight %}
  </div>
</article>
