<article>
  <h2 id="who-is-using-it">
    <a href="#who-is-using-it">
      Who is using it
    </a>
  </h2>

  <p>Here are a few examples of organizations using Even Better Specs:</p>

  <ul>
    <li>
      <a href="https://www.streetbees.com/" target="_blank">Streetbees</a>
    </li>
    <li>
      <a href="https://www.flowis.com/" target="_blank">Flowis</a>
    </li>
  </ul>

  <p>Does your team also use it? <a href="https://github.com/evenbetterspecs/evenbetterspecs.github.io/edit/main/_includes/who_is_using_it.html" target="_blank">Let us know!</a></p>
</article>